/* Global things */

.dir_separator {
	background-color: rgb(143, 143, 143);
	padding: 0px 15px;
	border-radius: 5px;
}
.dir_separator:hover {
	background-color: rgb(221, 221, 221);
}
.dir_separator:active {
	background-color: red;
}
.prevent_select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

a {
	text-decoration: none;
	color: #0076d1;
	color: black;
}
a:hover {
	text-decoration: underline;
}

/*
Coming from <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
*/
body {font-family:system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;}
button,input,select,textarea{color:#000;background-color:#efefef;font-family:inherit;font-size:inherit;margin-right:6px;margin-bottom:6px;padding:10px;border:none;border-radius:6px;outline:none}
button,input,textarea{transition:background-color .1s linear,border-color .1s linear,color .1s linear,box-shadow .1s linear,transform .1s ease}
button,input[type=button],input[type=checkbox],input[type=submit]{cursor:pointer}input:not([type=checkbox]):not([type=radio]),select{display:block}
button,input[type=button],input[type=submit]{padding-right:30px;padding-left:30px}
button:hover,input[type=button]:hover,input[type=submit]:hover{background:#ddd}
button:focus,input:focus,select:focus,textarea:focus{box-shadow:0 0 0 2px rgba(0,150,191,.67)}
button:active,input[type=button]:active,input[type=checkbox]:active,input[type=radio]:active,input[type=submit]:active{transform:translateY(2px)}
button:disabled,input:disabled,select:disabled,textarea:disabled{cursor:not-allowed;opacity:.5}

#title {
	font-size: 21px;
}

#footer {
	font-size: 13px;
}

#path_h3 {
	line-height: 1.5;
}

@media (pointer:none), (pointer:coarse) and (max-aspect-ratio: 13/9) {
	.dir_separator {
		padding: 15px 15px;
	}

	#title {
		font-size: 35px;
	}

	#footer, #header {
		font-size: 25px;
	}

	#path_h3 {
		line-height: 2.5;
		font-size: 35px;
	}
}
