/* For UI v3.1 */

.element31 {
	margin-bottom: 10px;
	width: 350px;
	height: 75px;
	margin-right: 15px;
	font-family: "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
	display: inline-block;

	background-color: lightgrey;
	border-radius: 10px;
	border: 5px solid orange;
	box-shadow: 5px 10px 10px #505050;
}
.element31:hover {
	border-color: blue;
	text-decoration: none;
}
.element31:active {
	border-color: red;
}
.element31 img {
	width: 55px;
	height: 55px;
	margin: 5px 5px;
	float: left;
}
.element31 p {
	margin: 6px 5px;
}

.folder31 {
	width: 355px;
	height: 50px;
	border-radius: 5px;
	border: 2px solid orange;
}
.folder31 img {
	width: 35px;
	height: 35px;
	margin: 2px 7px;
	float: left;
}

#more_info31 {
	padding: 10px;
	background: white;
	position: absolute;
}
