/* For UI v3.1 */

.element31 {
	margin-bottom: 10px;
	width: 350px;
	height: 75px;
	margin-right: 15px;
	font-family: "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
	display: inline-block;

	background-color: lightgrey;
	border-radius: 10px;
	border: 5px solid orange;
	box-shadow: 5px 10px 10px #505050;

	transition: border-color .15s linear, height .15s linear;
}
.element31:hover {
	border-color: blue;
	text-decoration: none;
	height: 100px;
}
.element31:active {
	border-color: red;
}
.element31 img {
	width: 55px;
	height: 55px;
	margin: 5px 5px;
	margin-bottom: 20px;
	float: left;
}
.element31 p {
	margin: 6px 5px;
}

.folder31 {
	width: 355px;
	height: 50px;
	border-radius: 5px;
	border: 2px solid orange;
}
.folder31 img {
	width: 35px;
	height: 35px;
	margin: 2px 7px;
	float: left;
}
.folder31:hover {
	height: 50px;
}

#more_info31 {
	padding: 10px;
	background: white;
	position: absolute;
}

@media (pointer:none), (pointer:coarse) and (max-aspect-ratio: 13/9) {
	.element31 {
		font-size: 29px;
		text-align: center;
		width: 350px;
		height: 205px;
		border: 8px solid orange;
		border-radius: 10px;
	}
	.element31:hover {
		height: 275px;
	}
	.element31 img {
		width: 80px;
		height: 80px;
		margin: 5px 130px;
	}

	.folder31:hover {
		height: 205px;
	}

	.dir_separator31 {
		padding: 15px 15px;
	}

	.normal_text31 {
		font-size: 35px;
	}

	#more_info31 {
		padding: 20px;
		font-size: 35px;
	}
}
