/* For UI v3 */

.element3 {
	margin-bottom: 10px;
	width: 350px;
	height: 75px;
	margin-right: 15px;
	font-family: "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace;
	overflow-wrap: break-word;
	word-wrap: break-word;
	overflow: hidden;
	display: inline-block;

	background-color: lightgrey;
	border-radius: 10px;
	border: 5px solid orange;
	box-shadow: 5px 10px 10px #505050;
}
.element3:hover {
	border-color: blue;
}
.element3:active {
	border-color: red;
}
.element3 img {
	width: 55px;
	height: 55px;
	margin: 5px 5px;
	float: left;
}
.element3 p {
	margin: 6px 5px;
}
